$primaryColor : hsl(234, 71%, 20%);
$secondaryColor : hsl(0, 62%, 52%) ;
$tertiaryColor : hsl(0, 0%, 85%);

$secondaryColor : hsl(180, 100%, 25%);


// $primaryColor : #364f6b;
// $secondaryColor : #3fc1c9 ;
// $tertiaryColor : #f5f5f5;

// $tertiaryColor : hsl(71, 68%, 85%);
// $primaryColor : hsl(219, 59%, 45%) ;
// $secondaryColor : hsl(202, 74%, 61%);


// $primaryColor : hsl(216,53%, 9%);
// $secondaryColor : hsl(198, 60%, 50%) ;
// $tertiaryColor : hsl(176, 68%, 64%);


// $primaryColor : #7868e6;
// $secondaryColor : #b8b5ff ;
// $tertiaryColor : #e4fbff;



$box-shadow : 3px 3px 5px rgba(0,0,0,0.6);

$h2 : 2rem;

$paddingVer : 3vh;
$paddingHor : 5vw;